@import url('https://fonts.googleapis.com/css?family=Montserrat');


.container p span.typed-text {
  font-weight: normal;
  color: #5057c8;
}
.container p span.cursor {
  display: inline-block;
  background-color: #5057c8;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #5057c8; }
  49% { background-color: #5057c8; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #5057c8; }
}
